/* =============================================================================
                              .modal
============================================================================= */


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  overflow: auto;
  z-index: 10;
  transition: background-color 1s linear;
}

.modal.is-open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  -webkit-animation: 0.75s linear reveal_background;
          animation: 0.75s linear reveal_background;
}


/* =============================================================================
                              .modal-content
============================================================================= */


.modal-content {
  position: relative;
  margin: 100px auto;
  width: 90%;
  cursor: default;
}

.modal.is-open .modal-content {
  -webkit-animation: 0.75s linear slide_down;
          animation: 0.75s linear slide_down;
}

.modal-content article {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  color: #333;
  text-align: left;
  background-color: rgb(220,220,220);
  border: 2px solid #61DAFB;
  border-radius: 25px;
  box-shadow: -5px 5px 5px rgba(0,0,0,0.35),
               5px 5px 5px rgba(0,0,0,0.35);
}

.modal-content article h2 {
  margin: 25px 0 50px 0;
  color:white;
  font-size: 4vw;
  font-family: Montserrat;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: violet;
  text-shadow: -2px 2px 4px rgba(0,0,0,0.15);
  white-space: nowrap;
}

.modal-content article p {
  line-height: 2;
  margin-bottom: 40px;
}

.modal-content article a {
  color: violet;
  text-decoration: none;
}

.modal-content article a:focus {
  outline: 0;
}

.modal-content article a:hover {
  text-decoration: underline;
}


/* ============================
    animation keyframes
============================ */


@-webkit-keyframes reveal_background {
  from { background-color: transparent; }
  to   { background-color: rgba(0,0,0,0.7); }
}

@keyframes reveal_background {
  from { background-color: transparent; }
  to   { background-color: rgba(0,0,0,0.7); }
}

@-webkit-keyframes slide_down {
  from { transform: scale(0.25) translateY(800px); opacity:0; }
  to   { transform: scale(1)    translateY(0);     opacity:1; }
}

@keyframes slide_down {
  from { transform: scale(0.25) translateY(800px); opacity:0; }
  to   { transform: scale(1)    translateY(0);     opacity:1; }
}


/* =============================================================================
                              .modal-content
============================================================================= */


.button.close-modal {
  position: fixed;
  top: 5px;
  right: -5px;
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 80px;
  font-weight: bold;
  background-color:transparent;
}

.button.close-modal:hover {
  color: violet;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.button.close-modal:hover span {
  color: violet;
  -webkit-text-stroke-color: white;
}

.button.close-modal:hover,
.button.close-modal:focus {
  outline: none;;
}

.button.close-modal span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 0.5;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: violet;
}
